@model List<Pricing>

@{
    ViewData["Title"] = "Index";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Data Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->



    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables</h5>
                        <span>(</span>
                        <a asp-action="create" class="btn btn-primary btn-sm">Create</a>
                            
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>isFeatured</th>
                                    <th>isAdvanced</th>
                                    <th>Features</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Pricing? item in Model)
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.Price.ToString("0.00")</td>
                                        <td>@item.isFeatured</td>
                                        <td>@item.isAdvanced</td>
                                        <td><a href="#" class="btn btn-primary btn-sm">Features</a></td>
                                        <td>
                                            <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                                            <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                })
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->